<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitcoin Seed to QR</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/center-atom.css">




</head>

<body>
    <div class="center-atom">

        <div id="myLoader" style="display:none;">Loading...</div>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/loader.js') }}"></script>

    <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>

</body>

</html>