{% extends 'base.html' %}

{% block content %}
<div class="container">
    <a href="https://github.com/BeechatNetworkSystemsLtd/bitcoinseedtoqr">
        <img src="https://img.shields.io/github/stars/BeechatNetworkSystemsLtd/bitcoinseedtoqr?style=social"
            alt="Github Stars">
    </a>
    <a href="https://github.com/BeechatNetworkSystemsLtd/bitcoinseedtoqr/fork">
        <img src="https://img.shields.io/github/forks/BeechatNetworkSystemsLtd/bitcoinseedtoqr?style=social"
            alt="Github Forks">
    </a>
    <a href="https://github.com/BeechatNetworkSystemsLtd/bitcoinseedtoqr">
        <img src="https://img.shields.io/github/followers/BeechatNetworkSystemsLtd?style=social" alt="Github Followers">
    </a>

    <h1>Bitcoin Seed to QR</h1>
    <div id="explanation" class="px-3">
        <p><strong>Important Notice:</strong> <em>This tool is primarily for educational and demonstration purposes
             and is not intended for actual financial transactions. We advise against using the generated addresses 
             for sending Bitcoin unless you fully understand and accept the risks involved.</em></p>

        <h2>Overview:</h2>
        <p>Bitcoin Seed to QR offers a unique way to understand and interact with Bitcoin. It allows you to create 
            Bitcoin wallet mnemonic seeds and convert them into secure, encrypted QR codes - akin to digital Bitcoin
             "cash" notes. Here's what makes it special:</p>
        <ul>
            <li><strong>Secure Wallet Creation:</strong> Generate a Bitcoin wallet mnemonic seed on your device. This 
                seed is your wallet's private key and is created without any server involvement, ensuring utmost privacy.</li>
            <li><strong>Encrypted QR Codes:</strong> Turn your mnemonic seed into an encrypted QR code. This code can only
                 be decrypted with a password, adding an extra layer of security.</li>
            <li><strong>For Gifts and Demonstrations:</strong> These QR codes can be printed and used as innovative gifts
                 or for educational demonstrations, showing how Bitcoin can be exchanged in a tangible form.</li>
            <li><strong>Client-Side Security:</strong> All operations, from seed generation to QR code creation, happen 
                locally on your device, ensuring your data's security and privacy.</li>
            <li><strong>Disclaimer:</strong> While this tool provides a practical demonstration of Bitcoin technology,
                 it should be used cautiously. The generated addresses and QR codes are best suited for learning and
                  gift-giving purposes, not for actual financial transactions.</li>
        </ul>
    
        <p><strong>Our Mission:</strong> To showcase the integration of Bitcoin technology with everyday concepts like
             gifting and physical transactions. We aim to educate and inspire, emphasizing transparency, security, and
              user control in the digital finance realm.</p>
    </div>



    <form method="POST" class="px-3">
        <div class="form-group row">
            <label for="mnemonic" class="col-sm-3">Mnemonic:</label>
            <div class="col-sm-9">
                <input type="text" id="mnemonic" class="form-control">
                <button type="button" id="copy-mnemonic" class="btn btn-secondary">Copy Mnemonic</button>
                <button type="button" id="update-all-data" class="btn btn-secondary">Update account data</button>
                <button type="button" id="generate-seed" class="btn btn-secondary">Generate Seed</button>




            </div>
        </div>

        <div class="form-group row">
            <label for="mnemonic-qr" class="col-sm-3">Mnemonic QR Code:</label>
            <div class="col-sm-9">
                <div class="canvas-container">
                    <canvas id="mnemonic-qr"></canvas>
                </div>

            </div>
        </div>

        <div class="form-group row">
            <label for="address" class="col-sm-3">Address:</label>
            <div class="col-sm-9">
                <input type="text" id="address" class="form-control" readonly>
                <button type="button" id="copy-address" class="btn btn-secondary">Copy Address</button>
                <button type="button" id="update-balance" class="btn btn-secondary">Update Balance</button>
            </div>
        </div>

        <div class="form-group row">
            <label for="balance" class="col-sm-3">Balance:</label>
            <div class="col-sm-9">
                <input type="text" id="balance" class="form-control" readonly>
            </div>
        </div>


        <div class="form-group row">
            <label for="address-qr" class="col-sm-3">Address QR Code:</label>
            <div class="col-sm-9">
                <div class="canvas-container">
                    <canvas id="address-qr"></canvas>
                </div>


            </div>
        </div>



        <div class="form-group row">
            <label for="password" class="col-sm-3">Password:</label>
            <div class="col-sm-9">
                <input type="password" id="password" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label for="encrypted-qr" class="col-sm-3">Encrypted QR Code:</label>
            <div class="col-sm-9">
                <div class="canvas-container">
                    <canvas id="encrypted-qr"></canvas>

                </div>

            </div>
        </div>

        <input type="hidden" id="ciphertext">
        <input type="hidden" id="scanned-ciphertext">

        <div class="form-group row">
            <div class="col-sm-12">
                <button type="button" id="generate" class="btn btn-primary">Generate Encrypted QR Code</button>
                <button type="button" id="decrypt" class="btn btn-primary">Decrypt QR Code</button>
                <button type="button" id="start-scanner" class="btn btn-primary">Start QR Scanner</button>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-12">
                <div id="scanner"></div>
                <p id="scan-result"></p>
            </div>
        </div>

    </form>
</div>
{% endblock %}