{% extends 'base.html' %}

{% block content %}
<div class="container">
    <a href="https://github.com/BeechatNetworkSystemsLtd/bitcoinseedtoqr">
        <img src="https://img.shields.io/github/stars/BeechatNetworkSystemsLtd/bitcoinseedtoqr?style=social" alt="Github Stars">
    </a>
    <a href="https://github.com/BeechatNetworkSystemsLtd/bitcoinseedtoqr/fork">
        <img src="https://img.shields.io/github/forks/BeechatNetworkSystemsLtd/bitcoinseedtoqr?style=social" alt="Github Forks">
    </a>
    <a href="https://github.com/BeechatNetworkSystemsLtd/bitcoinseedtoqr">
        <img src="https://img.shields.io/github/followers/BeechatNetworkSystemsLtd?style=social" alt="Github Followers">
    </a>
    
    <h1>Seed to QR</h1>
    <div id="explanation" class="px-3">
        <p>
            The mnemonic seed for the Bitcoin wallet is generated entirely on your device and not on any server.
            This means your seed never leaves your computer, ensuring your wallet's safety and security.
            The QR codes generated are also entirely client-side, which further enhances your security.
            Your privacy and security are of utmost importance to us, and we have designed this tool with those
            principles in mind.
        </p>
    </div>
    <form method="POST" class="px-3">
        <div class="form-group row">
            <label for="mnemonic" class="col-sm-3">Mnemonic:</label>
            <div class="col-sm-9">
                <input type="text" id="mnemonic" class="form-control" readonly> 
                <button type="button" id="copy-mnemonic" class="btn btn-secondary">Copy Mnemonic</button>
            </div>
        </div>

        <div class="form-group row">
            <label for="mnemonic-qr" class="col-sm-3">Mnemonic QR Code:</label>
            <div class="col-sm-9">
                <div class="canvas-container">
                    <canvas id="mnemonic-qr"></canvas>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="address" class="col-sm-3">Address:</label>
            <div class="col-sm-9">
                <input type="text" id="address" class="form-control" readonly>
                <button type="button" id="copy-address" class="btn btn-secondary">Copy Address</button>
                <button type="button" id="update-balance" class="btn btn-secondary">Update Balance</button>
            </div>
        </div>
        
        <div class="form-group row">
            <label for="balance" class="col-sm-3">Balance:</label>
            <div class="col-sm-9">
                <input type="text" id="balance" class="form-control" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label for="address-qr" class="col-sm-3">Address QR Code:</label>
            <div class="col-sm-9">
                <div class="canvas-container">
                    <canvas id="address-qr"></canvas>
                </div>
            </div>
        </div>

        <!-- Add elements for the other addresses and their QR codes -->
        <div class="form-group row">
            <label for="address0" class="col-sm-3">Address 0:</label>
            <div class="col-sm-9">
                <input type="text" id="address0" class="form-control" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label for="address0-qr" class="col-sm-3">Address 0 QR Code:</label>
            <div class="col-sm-9">
                <div class="canvas-container">
                    <canvas id="address0-qr"></canvas>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="address1" class="col-sm-3">Address 1:</label>
            <div class="col-sm-9">
                <input type="text" id="address1" class="form-control" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label for="address1-qr" class="col-sm-3">Address 1 QR Code:</label>
            <div class="col-sm-9">
                <div class="canvas-container">
                    <canvas id="address1-qr"></canvas>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="address2" class="col-sm-3">Address 2:</label>
            <div class="col-sm-9">
                <input type="text" id="address2" class="form-control" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label for="address2-qr" class="col-sm-3">Address 2 QR Code:</label>
            <div class="col-sm-9">
                <div class="canvas-container">
                    <canvas id="address2-qr"></canvas>
                </div>
            </div>
        </div>

        <button type="button" id="generate" class="btn btn-primary">Generate</button>
    </form>
</div>
{% endblock %}
